<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension point="org.eclipse.ui.commands">
        <category name="MultiCursor"
                id="com.asparck.multicursor.commands.category">
        </category>
        <command categoryId="com.asparck.multicursor.commands.category"
                id="com.asparck.multicursor.commands.selectAllOccurrences"
                name="Select All Occurrences">
        </command>
        <command categoryId="com.asparck.multicursor.commands.category"
                id="com.asparck.multicursor.commands.selectNextOccurrence"
                name="Select Next Occurrence">
        </command>
    </extension>

    <extension point="org.eclipse.ui.handlers">
        <handler commandId="com.asparck.multicursor.commands.selectAllOccurrences"
                class="com.asparck.eclipse.multicursor.handlers.SelectAllOccurrencesHandler">
        </handler>
        <handler commandId="com.asparck.multicursor.commands.selectNextOccurrence"
                class="com.asparck.eclipse.multicursor.handlers.SelectNextOccurrenceHandler">
        </handler>
    </extension>

    <extension point="org.eclipse.ui.bindings">
        <key commandId="com.asparck.multicursor.commands.selectAllOccurrences"
                contextId="org.eclipse.ui.textEditorScope"
                sequence="ALT+F3"
                platform="win32"
                schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
        </key>
        <key commandId="com.asparck.multicursor.commands.selectAllOccurrences"
                contextId="org.eclipse.ui.textEditorScope"
                sequence="ALT+F3"
                platform="gtk"
                schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
        </key>
        <key commandId="com.asparck.multicursor.commands.selectAllOccurrences"
                contextId="org.eclipse.ui.textEditorScope"
                sequence="CTRL+COMMAND+G"
                platform="cocoa"
                schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
        </key>
        <key commandId="com.asparck.multicursor.commands.selectNextOccurrence"
                contextId="org.eclipse.ui.textEditorScope"
                sequence="ALT+J"
                platform="win32"
                schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
        </key>
        <key commandId="com.asparck.multicursor.commands.selectNextOccurrence"
                contextId="org.eclipse.ui.textEditorScope"
                sequence="ALT+J"
                platform="gtk"
                schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
        </key>
        <key commandId="com.asparck.multicursor.commands.selectNextOccurrence"
                contextId="org.eclipse.ui.textEditorScope"
                sequence="CTRL+G"
                platform="cocoa"
                schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
        </key>
   </extension>

</plugin>
