<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Eclipse-4.2-x64-with-JDT" sequenceNumber="14">
<locations>
<location path="${workspace_loc}/targets/org.eclipse.jdt.source-4.2.2" type="Profile"/>
<location path="${workspace_loc}/targets/eclipse-platform-4.2.2-win32-x86_64" type="Profile"/>
</locations>
</target>
