<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.commands">
      <category name="MultiCursor"
            id="com.asparck.multicursor.commands.category">
      </category>
      <command name="SelectNext"
            categoryId="com.asparck.multicursor.commands.category"
            id="com.asparck.multicursor.commands.selectNext">
      </command> 
   </extension>
   <extension point="org.eclipse.ui.handlers">
      <handler commandId="com.asparck.multicursor.commands.selectNext"
            class="eclipse_multicursor.handlers.SelectNextHandler">
      </handler>
   </extension>
   <extension point="org.eclipse.ui.bindings">
      <key commandId="com.asparck.multicursor.commands.selectNext"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M2+D"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
</plugin>
